.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --color: #f1b2ce;
  --title-decor-text-color: #000028;
  --title-decor-text-background-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --theme-menu-button-border-hover-color: rgb(255 0 112 / 0.4);
  --accent-color: #ff0070;
  --rec-block-display-value: grid;
  --link-shadow-color: #ff0070;
}
