/* Переменные темной темы */

/* Класс добавится на страницу в случае переключения на темную тему JS средствами */

.page.theme_dark {
  /* Основной цвет текста страницы */
  --color: #f1b2ce;
  /* Цвет заголовка (в шапке и в подвале) */
  --header-color: #db00ff;
  /* Цвет текста выделенного кастомным фоном */
  --colored-text: #000028;
  /* Фон для выделенного текста */
  --colored-text-background: #ff0070;
  /* Акцентный цвет для кнопки и заголовков более низкого уровня */
  --accent-color: #ff0070;
  /* Цвет фона страницы */
  --background-color: #000028;
  /* Фон шапки */
  --header-image: url(../images/cover-image-dark.png);
  /* Показывать ли блок с декоративным 'REC' */
  --rec-visible: visible;
  /* Цвет обоводки для кнопок смены темы при наведении */
  --button-border-hover: rgb(255 0 112 / 0.4);
}

/* Если у пользователя активирована темная тема в ОС  */

@media (prefers-color-scheme: dark) {
  :root {
    /* Основной цвет текста страницы */
    --color: #f1b2ce;
    /* Цвет заголовка (в шапке и в подвале) */
    --header-color: #db00ff;
    /* Цвет текста выделенного кастомным фоном */
    --colored-text: #000028;
    /* Фон для выделенного текста */
    --colored-text-background: #ff0070;
    /* Акцентный цвет для кнопки и заголовков более низкого уровня */
    --accent-color: #ff0070;
    /* Цвет фона страницы */
    --background-color: #000028;
    /* Фон шапки */
    --header-image: url(../images/cover-image-dark.png);
    /* Показывать ли блок с декоративным 'REC' */
    --rec-visible: visible;
    /* Цвет обоводки для кнопок смены темы при наведении */
    --button-border-hover: rgb(255 0 112 / 0.4);
  }
}
