/* Переменные светлой темы */

/* Класс добавится на страницу в случае переключения на светлую тему JS средствами */

.page.theme_light {
  /* Фон шапки */
  --header-image: url(../images/cover-image-light.png);
  /* Цвет фона страницы */
  --background-color: #fff1f7;
  /* Основной цвет текста страницы */
  --color: #353430;
  /* Цвет выделенного (декор) текста */
  --title-decor-text-color: #353430;
  /* Цвет фона выделенного (декор) текста */
  --title-decor-text-background-color: #ff8dcb;
  /* Цвет заголовка в шапке */
  --header-title-color: #ffc2e6;
  /* Цвет тени заголовка в шапке */
  --header-shadow-color: #ff8dcb;
  /* Цвет обоводки для кнопок смены темы при наведении */
  --theme-menu-button-border-hover-color: rgb(50 49 45 / 0.4);
  /* Выделяемый цвет */
  --accent-color: #353430;
  /* Показывать ли блок с декоративным 'REC' */
  --rec-block-display-value: none;
  /* Цвет тени в ссылках в блоке текста ответов */
  --link-shadow-color: #ff8dcb;
}

@media (min-width: 1024px) {
  .page.theme_light {
    --header-shadow-color: #ff0070;
  }
}

/* Если у пользователя активирована светлая тема в ОС  */

@media (prefers-color-scheme: light) {
  :root {
    /* Фон шапки */
    --header-image: url(../images/cover-image-light.png);
    /* Цвет фона страницы */
    --background-color: #fff1f7;
    /* Основной цвет текста страницы */
    --color: #353430;
    /* Цвет выделенного (декор) текста */
    --title-decor-text-color: #353430;
    /* Цвет фона выделенного (декор) текста */
    --title-decor-text-background-color: #ff8dcb;
    /* Цвет заголовка в шапке */
    --header-title-color: #ffc2e6;
    /* Цвет тени заголовка в шапке */
    --header-shadow-color: #ff8dcb;
    /* Цвет обоводки для кнопок смены темы при наведении */
    --theme-menu-button-border-hover-color: rgb(50 49 45 / 0.4);
    /* Выделяемый цвет */
    --accent-color: #353430;
    /* Показывать ли блок с декоративным 'REC' */
    --rec-block-display-value: none;
    /* Цвет тени в ссылках в блоке текста ответов */
    --link-shadow-color: #ff8dcb;
  }

  @media (min-width: 1024px) {
    :root {
      --header-shadow-color: #ff0070;
    }
  }
}
