.page.theme_light {
  /* Основной цвет текста страницы */
  --color: #353430;
  /* Цвет заголовка (в шапке и в подвале) */
  --header-color: #ffc2e6;
  /* Цвет текста выделенного кастомным фоном */
  --colored-text: #353430;
  /* Красный фон для выделенного текста */
  --colored-text-background: #ffc2e6;
  /* Акцентный цвет для кнопки и заголовков более низкого увроня */
  --accent-color: #ff8dcb;
  /* Цвет фона страницы */
  --background-color: #fff1f7;
  /* Фон шапки */
  --header-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {

  :root {
    /* Основной цвет текста страницы */
    --color: #353430;
    /* Цвет заголовка (в шапке и в подвале) */
    --header-color: #ffc2e6;
    /* Цвет текста выделенного кастомным фоном */
    --colored-text: #353430;
    /* Фон для выделенного текста */
    --colored-text-background: #ffc2e6;
    /* Акцентный цвет для кнопки и заголовков более низкого увроня */
    --accent-color: #ff8dcb;
    /* Цвет фона страницы */
    --background-color: #fff1f7;
    /* Фон шапки */
    --header-image: url(../images/cover-image-light.png);
  }
}
