/* Базовая стилизация макета */

/* -------------------------------------------------- */
/* Начало блока общих стилей для класса тела страницы */

.page {
  /* Цвет фона (для второй страницы и далее) #000028 - темная тема, #fff1f7 - светлая тема (по макету)  */
  background-color: var(--background-color, #000028);
  /* Фоновая картинка в зависимости от темы (для темной темы - cover-image-dark.png, для светлой -  cover-image-light.png) */
  background-image: var(--header-image, url(../images/cover-image.png));
  /* Помещаем картинку в блок с учетом масштабирования */
  background-size: cover;
  /* Центрируем помещенную картинку */
  background-position: center;
  /* Если вдруг картинка не на весь фон - не повторяем */
  background-repeat: no-repeat;
  /* Фиксируем */
  background-attachment: fixed;
  /* Основной цвет текста страницы - #f1b2ce - темная тема, #353430 - светлая тема (по макету)  */
  color: var(--color, #f1b2ce);
  /* Семейство шрифтов "font-family: IBM Plex Mono;" (по макету) */
  font-family: 'IBM Plex Mono', monospace;
  /* Размер шрифта 18px (по макету) */
  font-size: 18px;
  /* Интерлиньяж */
  line-height: 23.4px;
}

/* Конец блока общих стилей для класса тела страницы */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Начало блока стилей шапки */

.header {
  /* Отступ со всех сторон  */
  padding: var(--padding-value, clamp(0.625rem, 0.024rem + 2.5575vw, 1.25rem));
  /* Размер шапки на весь экран */
  min-block-size: 100vh;
  /* Размещение элементов в сетку */
  display: grid;
  /* Сетка из 3х строк: меню, заголовок и декоративный текст заголовка
  первая и третья строка одинаковые по размеру, остальное пространство для центрального элемета */
  grid-template-rows: 1fr auto 1fr;
  /* Преобладающий цвет шритфа в зависимости от темы (темная: #ff0070, светлая: #353430) */
  color: var(--accent-color, #ff0070);
}

/* Стили контейнера меню выбора темы */

.header__menu {
  /* Выравниваем по центру (по вертикали) */
  align-self: center;
}

/* Список тем */

.header__theme-menu-list {
  /* Отображаем сеткой */
  display: grid;
  /* Интервал между элементами 10px (по макету) */
  gap: 10px;
  /* Выравниваем элементы по вертикали в центр */
  align-items: center;
  /* Выравниваем элементы по горизонтали в конец */
  justify-items: end;
}

/* Внешний блок элемента кнопки темы */

.header__theme-menu-item {
  /* Высота блока 26px (по макету) */
  height: 26px;
  /* Внутренний отступ 13px (по 6.5 с каждой стороны)  */
  padding-inline: 6.5px;
}

/* Эффект при наведении на элемент меню темы */

.header__theme-menu-item:hover {
  /* Устанавливаем границу 1px solid с цветом в зависимости от темы (темная: rgba(255, 0, 112, 0.40), светлая: rgba(50, 49, 45, 0.40) */
  border: 1px solid var(--theme-menu-button-border-hover-color, rgb(255 0 112 / 0.4));
}

/* Эффект при активации кнопки (выборе темы) */

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  /* Отключаем события указателя мыши (аннулируем эффекты) */
  pointer-events: none;
  /* Устанавливаем границу 1px solid с цветом в зависимости от темы (темная: #ff0070, светлая: #353430) */
  border: 1px solid var(--accent-color, #ff0070);
}

/* Эффект при наведении фокуса клавиатурой (клавишей Tab) */

.header__theme-menu-item:has(.header__theme-menu-button:focus-visible) {
  /* Устанавливаем границу снизу 1px solid с цветом в зависимости от темы (темная: #ff0070, светлая: #353430) */
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

/* Элемент кнопки темы */

.header__theme-menu-button {
  /* Приводим содержимое текста к нижнему регистру */
  text-transform: lowercase;
  /* Убираем фон */
  background: none;
  /* Убираем границу */
  border: none;
  /* Интерлиньяж 100% - 18px от размера шрифта (по макету) */
  line-height: 100%;
  /* Курсор - палец */
  cursor: pointer;
}

/* Эффект при наведении фокуса на кнопку */

.header__theme-menu-button:focus {
  /* Обнуляем отображение внешней границы */
  outline: none;
}

/* Заголовок шапки */

.header-title {
  /* Динамический внешний отступ от 0 до -20 в зависимости от разрешения экрана (при мобильном 375 х 668 - 0px, начиная с 768х1024 - 20px) (по макету) */
  margin-inline-start: clamp(-1.25rem, -5.1151vw + 1.202rem, 0rem);
  /* Цвет текста (в зависимости от темы: темная - #db00ff, светлая - #ffc2e6) */
  color: var(--title-color, #db00ff);
  /* Динамический размер шрифта от 116px до 157px (по макету) */
  font-size: var(--title-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  /* Жирность шрифта - жирный 700 (по макету) */
  font-weight: 700;
  /* Интерлиньяж 82.5% от текущего шрифта (по макету) */
  line-height: 82.5%;
  /* Тень текста 4px - сдвиг по X, 4px - сдвиг по Y, 0 - радиус размытия, цвет в зависимости от темы (темная: #ff0070, светлая: #ffc2e6, светлая для ноутбука - #ff0070) */
  text-shadow: 4px 4px 0 var(--title-shadow-color, #ff0070);
  /* Выравниваем по вертикали в центр */
  align-self: center;
}

/* Блок декоративного текста под заголовоком */

.header-text {
  /* Выравниваем по вертикали в центра */
  align-self: center;
  /* Выравниваем по горизонтали в конец (в право) */
  justify-self: end;
  /* Устанавливаем ограничение для максимального размера блока:
  355px (по макету для экрана 375х668) - сработает итак, поскольку есть паддинг на 10px для мобилы,
  364px (по макету для экрана 768х1024),
  491px (по макету для экрана 1024х768) - изменим значение этого свойства позже в медиа запросе */
  max-width: 364px;
}

/* Выделенный (декор) текст */

.title-decor {
  /* Цвет текста (в зависимости от темы: темная - #000028, светлая - #353430) */
  color: var(--title-decor-text-color, #000028);
  /* Жирность текста - 700 (жирный) по макету */
  font-weight: 700;
  /* Цвет фона (в зависимости от темы: темная - #ff0070, светлая - #FF8DCB) */
  background-color: var(--title-decor-text-background-color, #ff0070);
}

/* Адаптация для планшетов (768х1024) и ноутбуков (1024х768) */

@media (width >=768px) {
  /* Заголовок шапки */

  .header-title {
    /* Динамический размер шрифта от 116px до 157px (по макету) */
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Адаптация шапки к экрану ноутбука 1024х768 */

@media (width >=1024px) {
  /* Контейнер меню выбора темы */

  .header__menu {
    /* Выравниваем по вертикали в начало */
    align-self: self-start;
  }

  /* Список тем */

  .header__theme-menu-list {
    /* Отображаем элементы в 3 колонки */
    grid-template-columns: repeat(3, auto);
    /* Выравниваем элементы по горизонтально в центр */
    justify-content: center;
  }

  /* Блок декоративного текста под заголовоком */

  .header-text {
    /* Максимальная ширина 491px (по макету) */
    max-width: 491px;
  }
}

/* Конец блока стилей шапки */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Начало блока с декоративными элементами */

/* Основной блок с декоративными элементами */

.decorated-zone {
  /* Выстраиваем дочерние элементы относительного этого элемента */
  position: relative;
}

/* Верхний уголок декоративной зоны */

.decorated-zone::before {
  /* Для отображения элемента нужно указать хоть что-то */
  content: '';
  /* Рисуем относительно родительского элемента */
  position: absolute;
  /* Высота 25px (по макету) */
  block-size: 25px;
  /* Ширина 25px (по макету */
  inline-size: 25px;
  /* Часть уголка по горизонтали */
  border-block-start: 1px solid var(--accent-color, #ff0070);
  /* Часть уголка по вертикали */
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  /* Отступаем по горизонтали так же как и весь блок шапки */
  inset-inline-end: var(--header-padding-value,
      clamp(0.625rem, 0.024rem + 2.5575vw, 1.25rem));
  /* Отступаем по вертикали так же как и весь блок шапки */
  inset-block-start: var(--header-padding-value,
      clamp(0.625rem, 0.024rem + 2.5575vw, 1.25rem));
}

/* Нижний уголок декоративной зоны */

.decorated-zone::after {
  /* Для отображения элемента нужно указать хоть что-то */
  content: '';
  /* Рисуем относительно родительского элемента */
  position: absolute;
  /* Высота 25px (по макету) */
  block-size: 25px;
  /* Ширина 25px (по макету */
  inline-size: 25px;
  /* Часть уголка по горизонтали */
  border-block-end: 1px solid var(--accent-color, #ff0070);
  /* Часть уголка по вертикали */
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  /* Отступаем по горизонтали так же как и весь блок шапки */
  inset-inline-start: var(--header-padding-value,
      clamp(0.625rem, 0.024rem + 2.5575vw, 1.25rem));
  /* Отступаем по вертикали так же как и весь блок шапки */
  inset-block-end: var(--header-padding-value,
      clamp(0.625rem, 0.024rem + 2.5575vw, 1.25rem));
}

/* Блок декорации "REC с точкой" для темной темы */

.decorated-zone .decorated-zone__rec {
  /* Абсолютная позиция относительно родительского элемента */
  position: absolute;
  /* Убираем с потока отображения в зависимости от темы (темная: grid элемент, светлая: скрыть) */
  display: var(--rec-block-display-value, grid);
  /* Если отображаем, то в две колонки сетки */
  grid-template-columns: repeat(2, auto);
  /* Выравниваем по вертикали в центр */
  align-items: center;
  /* Отступ между элементами 10px (по макету) */
  gap: 10px;
  /* Отступаем по вертикали так же как и весь блок шапки плюс расстояние от уголка 9px */
  inset-inline-end: calc(var(--header-padding-value, clamp(0.625rem, 0.024rem + 2.5575vw, 1.25rem)) + 9px);
  /* Отступаем по вертикали так же как и весь блок шапки */
  inset-block-start: var(--header-padding-value,
      clamp(0.625rem, 0.024rem + 2.5575vw, 1.25rem));
}

/* Элемент "REC" декоративного блока "REC с точкой" */

.decorated-zone .decorated-zone__rec::before {
  /* Контент блока */
  content: 'rec';
  /* Переводим все в верхний регистр символов */
  text-transform: uppercase;
  /* Интерлиньяж 25px (по макету) независимо от размера экрана */
  line-height: 25px;
}

/* Элемент "точка" декоративного блока "REC с точкой" */

.decorated-zone .decorated-zone__rec::after {
  /* Для отображения элемента нужно указать хоть что-то */
  content: '';
  /* Ширина 9px (по макету) */
  inline-size: 9px;
  /* Высота 9px (по макету) */
  block-size: 9px;
  /* Цвет заливки #ff0070 (подставим из зависимой от темы переменной) */
  background-color: var(--accent-color, #ff0070);
  /* Цвет тени заливки #ff0070 (подставим из зависимой от темы переменной) */
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  /* Округление 50% (по макету) */
  border-radius: 50%;
}

/* Конец блока с декоративными элементами */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Начало блока main */

/* Главный контейнер тела страницы */

.main {
  /* Добавляем отступы, в зависимости от размера экрана (для 375х668 - 40px, для планшетов и ноутбуков - 60px) */
  padding-block: clamp(2.5rem, 1.301rem + 5.102vw, 3.75rem);
  /* Внутренний отступ, в зависимости от размера экрана (для 375х668 - 10px, для планшетов и ноутбуков - 20px) */
  padding-inline: var(--padding-value,
      clamp(0.625rem, 0.024rem + 2.5575vw, 1.25rem));
}

/* Блок вопросов */

.main__question-list {
  /* Отображаем как сетку */
  display: grid;
  /* Расстояние между блоками вопросов, в зависимости от размера экрана (для 375х668 - 50px, для планшетов и ноутбуков - 80px) */
  row-gap: clamp(3.125rem, 1.3265rem + 7.6531vw, 5rem);
}

/* Блок вопрос - ответ */

.main__question-item {
  /* Отображаем как сетку */
  display: grid;
  /* Отступ между блоками вопроса и ответа 20px (по макету) для всех разрешений */
  gap: 20px;
}

/* Блок заголовка вопроса */

.main__question-title {
  /* Переопределяем размер шрифта по умолчанию */
  font-size: inherit;
  /* Цвет текста в зависимости от темы (темная: #ff0070, светлая: #353430) */
  color: var(--accent-color, #ff0070);
}

/* Блок списка ответов */

.main__answer-list {
  /* Отображаем как сетку */
  display: grid;
  /* Отступ между блоками вопроса и ответа 20px (по макету) для всех разрешений */
  gap: 20px;
}

/* Блок одного ответа с заголовоком и текстом */

.main__answer-item {
  /* Отображаем как сетку */
  display: grid;
  /* Отступ между блоками заголовка и текста 10px (по макету) для всех разрешений */
  gap: 10px;
  /* grid-template-rows: auto 1fr; */
}

/* Декор для заголовков 4го уровня */

h4.title-decor {
  /* Убираем жирность */
  font-weight: 400;
}

/* Блок заголовка ответа */

.main__answer-title {
  /* Переопределяем размер шрифта по умолчанию */
  font-size: inherit;
}

/* Ссылка в ответе */

.main__answer-link {
  /* Убираем подчеркивание ссылоку по умолчанию */
  text-decoration: none;
  /* Тень текста 2px - сдвиг по X, 2px - сдвиг по Y, 0 - радиус размытия, цвет в зависимости от темы (темная: #ff0070, светлая: #ff8dcb) */
  text-shadow: 2px 2px 0 var(--link-shadow-color, #ff0070);
}

/* Эффект наведения на ссылку в ответе */

.main__answer-link:hover {
  /* Устанавливаем границу снизу 1px solid и текущим цветом текста */
  border-block-end: 1px solid currentColor;
}

/* Эффект при установке фокуса на ссылку в ответе */

.main__answer-link:focus {
  /* Обнуляем отображение внешней границы */
  outline: none;
}

/* Эффект при установке фокуса с клавиатуры (клавишей Tab) на ссылку в ответе */

.main__answer-link:focus-visible {
  /* Устанавливаем границу по всей площади 1px solid и текущим цветом текста */
  border: 1px solid currentColor;
}

/* Блок "вопрос - ответ" для галереи */
.image-question-block {
  /* Расстояние между вопросом и галереей 10px (по макету) */
  gap: 10px;
}

/* Галерея картинок */
.gallery {
  /* Картинки в сетку */
  display: grid;
  /* Расстояние между элементами 10px (по макету) */
  gap: 10px;
}

.gallery_image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* Отображение блока "вопрос - ответ" на планшетах (768x1024) */

@media (width >=768px) {
  /* Блок "вопрос - ответ" */

  .main__question-item {
    /* 2 столбца: первый - вопрос размером от 236px до 315px (по макету), второй - остальная свободная часть */
    grid-template-columns: clamp(14.75rem, -0.1206rem + 30.9804vw, 19.6875rem) auto;
  }

  /* Заголовок вопроса для вопроса "Как?" */

  .how-question-block .main__question-title {
    /* Занимает только первую колонку */
    grid-column: 1;
    /* Занимает 6 строк начиная с первой */
    grid-row: 1 / 3;
  }

  /* Список ответов для вопроса "Что?" */

  .what-question-block .main__answer-list {
    /* Занимает обе колонки */
    grid-column: 1 / span 2;
    /* Занимает вторую строку */
    grid-row: 2;
  }

  /* Блок вопроса с картинками */
  .image-question-block {
    /* Сбрасываем общее разделение */
    grid-template: auto / auto;
    /* Устанавливаем расстояние между блоками вопроса и галереей в 20px (по макету) */
    gap: 20px;
  }

  /* Блок вопроса для картинок */
  .image-question-block .main__answer-title {
    /* В первой строке на все 3 столбца */
    grid-column: 1 / span 3;
  }

  /* Блок с картинками */
  .gallery {
    /* На все 3 столбца */
    grid-column: 1 / span 3;
    /* Сетка 3х3 с автоматическим масштабированием */
    grid-template: repeat(3, auto) / repeat(3, auto);
    /* Расстояние между картинками по вертикали и горизонтали 20px (по макету) */
    gap: 20px;
  }

  /* Картинка "Солнце" */
  .sun-image {
    /* 1 строка 1-2 столбцы */
    grid-column: 1 / span 2;
  }

  /* Картинка "Мороженое" */
  .ice-image {
    /* 3 столбец */
    grid-column: 3;
    /* 1-2 строки */
    grid-row: 1 / span 2;
  }

  /* Картинка "Музыка" */
  .tape-image {
    /* 1 столбец */
    grid-column: 1;
    /* 2-3 строки */
    grid-row: 2 / span 2;
  }

  /* Картинка "Улица" */
  .street-image {
    /* 2-3 столбец */
    grid-column: 2 / span 2;
    /* 3 строка */
    grid-row: 3;
  }
}

/* Отображение блока "вопрос - ответ" на ноутбуках 1024х768 */

@media (width >=1024px) {
  /* Блок списка ответов на вопрос "Что?" */

  .what-question-block .main__answer-list {
    grid-template-columns: repeat(3, minmax(315px, auto));
  }

  /* Ответ в вопросе "Что?" по вертикали  */

  .what-question-block .main__answer-item {
    /* для верхнего элемента (заголовка) занимаем все свободное пространство, для нижнего - 1 фрейм.
    Это дает эффект, который не выравнивает элементы сетки относительно соседа */
    grid-template-rows: auto 1fr;
  }
}

/* Отображение блока "вопрос - ответ" на экранах свыше 1024px */

@media (width > 1024px) {
  /* Блок "вопрос - ответ" */

  .main__question-item {
    /* 2 столбца: первый - вопрос размером от 236px до 315px (по макету), второй - остальная свободная часть */
    grid-template-columns: minmax(14.75rem, calc(-0.1206rem + 30.9804vw)) auto;
  }
}

/* Конец блока main */
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Начало блока footer */

/* Основной блок подвала */
.footer {
  /* Отступ со всех сторон  */
  padding: var(--padding-value, clamp(0.625rem, 0.024rem + 2.5575vw, 1.25rem));
  /* Размер шапки на весь экран */
  min-block-size: 100vh;
  /* Размещение элементов в сетку */
  display: grid;
  /* Сетка из 1 строки на всю площадь */
  grid-template-rows: 1fr;
  /* Преобладающий цвет шритфа в зависимости от темы (темная: #ff0070, светлая: #353430) */
  color: var(--accent-color, #ff0070);
  /* Выравниваем по горизонтали в центр */
  justify-content: center;
  /* выравниваем элементы по вертикали в центр */
  align-items: center;
}

/* Заголовок */
.footer-title {
  /* Цвет текста (в зависимости от темы: темная - #db00ff, светлая - #ffc2e6) */
  color: var(--title-color, #db00ff);
  /* Динамический размер шрифта от 116px до 157px (по макету) */
  font-size: var(--title-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  /* Жирность шрифта - жирный 700 (по макету) */
  font-weight: 700;
  /* Интерлиньяж 82.5% от текущего шрифта (по макету) */
  line-height: 82.5%;
  /* Тень текста 4px - сдвиг по X, 4px - сдвиг по Y, 0 - радиус размытия, цвет в зависимости от темы (темная: #ff0070, светлая: #ffc2e6, светлая для ноутбука - #ff0070) */
  text-shadow: 2px 2px 0 var(--title-shadow-color, #ff0070);
}

/* Адаптация для планшетов (768х1024) и ноутбуков (1024х768) */

@media (width >=768px) {
  /* Заголовок шапки */

  .footer-title {
    /* Динамический размер шрифта от 116px до 157px (по макету) */
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Конец блока footer */
/* -------------------------------------------------- */